@using Build.Mvc
@using Sewerage.HtmlHelpers
@using Sewerage.Resources.Views
@using Sewerage.Resources.Views.Home
@model Sewerage.Models.Observation

<div data-bind="if: $root.ChosenInspectionId() != null">
    
    <h2>@IndexStrings.Observations</h2>

    <table class="table">
        <tr>
            <thead>
                @Html.BuildTh().AddClass("view-row")
                @Html.BuildThFor(x => Model.Position)
                @Html.BuildThFor(x => Model.Tag)
                @Html.BuildThFor(x => Model.Description)
                @Html.BuildThFor(x => Model.SecondsIntoVideo)
                @Html.BuildTh().AddClass("edit-row")
                @Html.BuildTh().AddClass("delete-row")
            </thead>
            <tbody data-bind="foreach: Observations">
                <tr data-bind="click: $parent.selectObservation">
                    <td><i class="icon-eye-open" data-bind="visible: ObservationId == $parent.ChosenObservationId()"></i></td>
                    @Html.BuildTd().Bind("text", "Position")
                    @Html.BuildTd().Bind("text", "Tag")
                    @Html.BuildTd().Bind("text", "Description")
                    @Html.BuildTd().Bind("text", "SecondsIntoVideo")
                    <td><a class="btn btn-mini" href="#" data-bind="click: $parent.editObservation"><i class="icon-edit"></i> @GlobalStrings.EditButton</a></td>
                    <td><a class="btn btn-mini btn-danger" href="#" data-bind="click: $parent.deleteObservation"><i class="icon-trash icon-white"></i> @GlobalStrings.DeleteButton</a></td>
                </tr>
            </tbody>
        </tr>
    </table>
</div>