@using Build.Mvc
@using Sewerage.HtmlHelpers
@using Sewerage.Resources.Views
@using Sewerage.Resources.Views.Home
@using Sewerage.Resources.Views.Shared
@model Sewerage.Models.Observation

<div data-bind="if: $root.ChosenInspectionId() != null">
    
    <h2 id="list-observation">@IndexStrings.Observations</h2>

    <table class="table table-condensed">
        <tr>
            <thead>
                @Html.BuildTh().AddClass("view-row")
                @Html.BuildThFor(x => Model.Position)
                @Html.BuildThFor(x => Model.Tag)
                @Html.BuildThFor(x => Model.Description)
                @Html.BuildThFor(x => Model.SecondsIntoVideo)
                <th>
                    <span class="pull-right">
                        <a href="#editor-observation" data-bind="click: $root.createObservation" title="@SharedStrings.CreateObservation"><i class="icon-plus"></i></a>
                    </span>
                </th>
            </thead>
            <tbody data-bind="foreach: Observations">
                <tr data-bind="click: $parent.selectObservation">
                    <td><i class="icon-eye-open" data-bind="visible: ObservationId == $parent.ChosenObservationId()"></i></td>
                    @Html.BuildTd().Bind("text", "Position")
                    @Html.BuildTd().Bind("text", "Tag")
                    @Html.BuildTd().Bind("text", "Description")
                    @Html.BuildTd().Bind("text", "SecondsIntoVideo")
                    <td>
                        <span class="pull-right">
                            <a href="#" data-bind="click: $parent.editObservation" title="@GlobalStrings.EditButton"><i class="icon-pencil"></i></a>
                            <a href="#" data-bind="click: $parent.deleteObservation" title="@GlobalStrings.DeleteButton"><i class="icon-trash"></i></a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </tr>
    </table>
</div>