@using Build.Mvc
@using Sewerage.HtmlHelpers
@using Sewerage.Resources.Views
@using Sewerage.Resources.Views.Home
@using Sewerage.Resources.Views.Shared
@model Sewerage.Models.Section

<h2 id="list-section">@IndexStrings.Sections</h2>

<div data-bind="if: $root.ChosenProjectId() != null">
    <table class="table table-condensed">
        <tr>
            <thead>
                @Html.BuildTh().AddClass("view-row")
                @Html.BuildThFor(x => Model.Number)
                @Html.BuildThFor(x => Model.Length)
                @Html.BuildThFor(x => Model.City)
                @Html.BuildThFor(x => Model.Street)
                <th>
                    <span class="pull-right">
                        <a href="#editor-section" data-bind="click: $root.createSection" title="@SharedStrings.CreateSection"><i class="icon-plus"></i></a>
                    </span>
                </th>
            </thead>
            <tbody data-bind="foreach: Sections">
                <tr data-bind="click: $parent.selectSection">
                    <td><i class="icon-eye-open" data-bind="visible: SectionId == $parent.ChosenSectionId()"></i></td>
                    @Html.BuildTd().Bind("text", "Number")
                    @Html.BuildTd().Bind("text", "Length")
                    @Html.BuildTd().Bind("text", "City")
                    @Html.BuildTd().Bind("text", "Street")
                    <td>
                        <span class="pull-right">
                            <a href="#" data-bind="click: $parent.editSection" title="@GlobalStrings.EditButton"><i class="icon-pencil"></i></a>
                            <a href="#" data-bind="click: $parent.deleteSection" title="@GlobalStrings.DeleteButton"><i class="icon-trash"></i></a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </tr>
    </table>
</div>