@using Sewerage.Resources.Views.Home
@{
    ViewBag.Title = AboutStrings.Title;
}

<div class="row-fluid">
    <div class="span9">
        <div class="page-header">
            <h1>@ViewBag.Title <small>@ViewBag.Message</small></h1>
        </div>
        <article>
            <div class="row-fluid">
                <div class="alert alert-info">
                    <h3>Zusammenfassung</h3>
                    Diese Bachelor Thesis beschäftigt sich mit der Portierung einer Desktopsoftware ins Web. In einem 
                    ersten Teil wird eine bereits bestehende Teilimplementierung analysiert. In einem zweiten praktischen 
                    Teil wird ein vereinfachter Prototyp einer Webapplikation mit modernen Technologien erstellt.
                </div>
            </div>
            
            <div class="row-fluid">
                <div class="span4">
                    <h3>Ausgangslage</h3>
                    <p>
                        Die Firma CDLab AG in Murten ist einer der führenden Softwarehersteller in der Kanalinspektionsbranche. 
                        Bei einer modernen Kanalinspektion werden verschiedenartige Daten erfasst, insbesondere Videodaten, 
                        Textdaten sowie Sensordaten (wie z.B. die Neigung des Kanalabschnittes). Diese Daten werden bisher 
                        noch bei vielen Stadtverwaltungen auf DVD gebrannt und dann archiviert. Die Verwaltung dieser Daten 
                        und der Zugriff ist daher sehr umständlich.
                    </p>
                </div>
            
                <div class="span4">
                    <h3>Problemstellung</h3>
                    <p>
                        Da die bisherige Datensicherung sehr aufwändig ist, soll dies durch eine Webapplikation erheblich 
                        vereinfacht werden. Folgende Probleme sind zu lösen:
                        <ul>
                            <li>
                                Die Wiedergabe von Videos auf verschiedenen Endgeräten mit unterschiedlich schnellen Datenleitungen.
                            </li>
                            <li>
                                Eine desktopähnliche Webapplikation mit schnellen Reaktionszeiten zu schaffen, um ein gutes Benutzererlebnis zu erzeugen.
                            </li>
                        </ul>
                    </p>
                </div>
            
                <div class="span4">
                    <h3>Aufgabenstellung</h3>
                    <p>
                        Die CDLab AG arbeitet bereits daran, ihre Desktopsoftware WinCan  ins Web zu portieren. Deshalb wird in 
                        einem analytischen Teil die bestehende Implementierung untersucht und danach ein Konzept einer Lösung 
                        erarbeitet und umgesetzt, das ein vereinfachtes Model der kompletten Software mit modernsten Webtechnologien 
                        darstellt. Dabei werden die aus dem Vorgängerprojekt entstandenen Erkenntnisse ergänzt und eingebaut.
                    </p>
                </div>
            </div>
        </article>
    </div>
    <div class="span3">
        <aside class="well">
            <h3>@AboutStrings.Contact</h3>
            <address>
                <strong>Tobias Studer</strong><br />
                Hagmattstrasse 8<br />
                4600 Olten<br />
                <br/>
                <abbr title=@AboutStrings.Mobile>M:</abbr> +41 79 203 37 89<br />
                <abbr title=@AboutStrings.Private>P:</abbr> +41 62 534 31 64<br />
                <abbr title=@AboutStrings.Email>E:</abbr> <a href="mailto:tobias.studer@students.fhnw.ch">tobias.studer@students.fhnw.ch</a>
            </address>
            <p>
                <strong>@AboutStrings.BachelorThesis</strong><br/>
                <i class="icon-file"></i> @Html.ActionLink(AboutStrings.Download, "Documentation")<br/>
                <i class="icon-file"></i> @Html.ActionLink(AboutStrings.PosterText, "Poster")<br/>
                <i class="icon-bookmark"></i> <a href="http://web.fhnw.ch/technik/projekte/i/bachelor12/Studer/index.html" target="_blank">@AboutStrings.ProjectSiteText</a>
            </p>
            <p>
                <strong>@AboutStrings.SourceCode</strong><br/>
                <i class="icon-book"></i> <a href="https://github.com/studert/Sewerage" target="_blank">@AboutStrings.GitHub</a>
            </p>
            <p>
                <strong>@AboutStrings.Package</strong><br/>
                <i class="icon-bookmark"></i> <a href="http://sdrv.ms/RDtNKy" target="_blank">@AboutStrings.PackageText</a>
            </p>
            <p>
                <strong>@AboutStrings.BuildServer</strong><br/>
                <i class="icon-bookmark"></i> <a href="http://teamcity.iunodesign.com" target="_blank">@AboutStrings.BuildServerText</a>
            </p>
        </aside>
    </div>
</div>

