@using Sewerage.Controllers
@{
    ViewBag.Title = "Sewerage";
}

@(Html.UpshotContext(bufferChanges: true).DataSource<SewerageController>(x => x.GetProjects()))

@section navigation
{
    <div class="scroll-y">
        <h3>Projects</h3>
        @Html.Partial("_ProjectsList")
    </div>
}

@section ribbon
{
    <p>ribbon goes here</p>
}

@section footer
{
    <p>footer goes here</p>
}

<div class="top row">
    <div class="top row left col scroll-y">
        <h3>Sections</h3>
        @Html.Partial("_SectionsList")
    </div>
    <div class="top row right col">
        @Html.Partial("_Player")
    </div>
</div>

<div class="bottom row scroll-x scroll-y">
    <div>
        <h3>Inspections</h3>
        @Html.Partial("_InspectionsList")
    </div>
    <div>
        <h3>Observations</h3>
        @Html.Partial("_ObservationsList")
    </div>
</div>

<script src="~/Scripts/App/SewerageViewModel.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        ko.applyBindings(new SewerageViewModel());
    });
</script>