@using Sewerage.Controllers
@using Sewerage.Resources.Views.Shared
@{
    ViewBag.Title = @SharedStrings.Home;
}

@section menu
{
    <ul class="nav nav-pills">
        <li class="dropdown" data-bind="visible: ChosenProjectId">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                @SharedStrings.Sections
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#" data-bind="click: createSection"><i class="icon-plus"></i> @SharedStrings.CreateSection</a></li>
            </ul>
        </li>
        <li class="dropdown" data-bind="visible: ChosenSectionId">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                @SharedStrings.Inspections
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#" data-bind="click: createInspection"><i class="icon-plus"></i> @SharedStrings.CreateInspection</a></li>
            </ul>
        </li>
        <li class="dropdown" data-bind="visible: ChosenInspectionId" >
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                @SharedStrings.Observations
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#" data-bind="click: createObservation"><i class="icon-plus"></i> @SharedStrings.CreateObservation</a></li>
            </ul>
        </li>
    </ul>
}

<div class="row-fluid">
    <div class="span2">
        @Html.Partial("_ProjectsList")
    </div><!--/span-->
    <div class="span10">
        <div class="row-fluid">
            <div class="span7">

                <div class="alert alert-success" data-bind="flash: {text: successMessage, duration: 5000 }"></div>
                <div class="alert alert-error" data-bind="flash: {text: errorMessage, duration: 20000 }"></div>

                <div data-bind="visible: !EditingSection()">
                    @Html.Partial("_SectionsList")
                </div>
                <div data-bind="visible: EditingSection">
                    @Html.Partial("_SectionEditor")
                </div>
            </div>
            <div class="span5 pull-right">
                @Html.Partial("_Player")
            </div>
        </div><!--/row-->
        <div class="row-fluid">
            <div class="span12">
                <div data-bind="visible: (!EditingInspection() && !EditingObservation())">
                    @Html.Partial("_InspectionsList")
                    @Html.Partial("_ObservationsList")
                </div>
                <div data-bind="visible: EditingInspection">
                    @Html.Partial("_InspectionEditor")
                </div>
                <div data-bind="visible: EditingObservation">
                    @Html.Partial("_ObservationEditor")
                </div>
            </div>
        </div><!--/row-->
    </div><!--/span-->
</div><!--/row-->

<script src="~/Scripts/App/SewerageViewModel.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        upshot.metadata(@(Html.Metadata<SewerageController>()));

        var viewModel = new Sewerage.SewerageViewModel({
            serviceUrl: "/api/Sewerage/"
        });

        ko.applyBindings(viewModel);
    });
</script>