@using Sewerage.Controllers
@using Sewerage.Resources.Views.Shared
@{
    ViewBag.Title = @SharedStrings.Home;
}

<div class="row-fluid">
    <div class="span3">
        @Html.Partial("_ProjectsList")
    </div><!--/span-->
    
    <div class="span9">
        <div class="alert alert-success flash" data-bind="flash: {text: successMessage, duration: 5000 }"></div>
        <div class="alert alert-error flash" data-bind="flash: {text: errorMessage, duration: 20000 }"></div>
        <div class="alert alert-info flash" id="loading">Loading data...</div>
    </div>
    
    <!-- Lists -->
    <div class="span9" data-bind="visible: !EditingSection() && !EditingInspection() && !EditingObservation()">
        <div class="row-fluid">
            <div class="span7">
                @Html.Partial("_SectionsList")
            </div>
            <div class="span5 pull-right">
                @Html.Partial("_Player")
            </div>
        </div><!--/row-->
        <div class="row-fluid">
            <div class="span12">
                @Html.Partial("_InspectionsList")
                @Html.Partial("_ObservationsList")
            </div>
        </div><!--/row-->
    </div><!--/span-->
    
    <!-- Editors -->
    <div class="span9" data-bind="visible: EditingSection() || EditingInspection() || EditingObservation()">
        <div id="editor-section" data-bind="visible: EditingSection">
            @Html.Partial("_SectionEditor")
        </div>
        <div id="editor-inspection" data-bind="visible: EditingInspection">
            @Html.Partial("_InspectionEditor")
        </div>
        <div id="editor-observation" data-bind="visible: EditingObservation">
            @Html.Partial("_ObservationEditor")
        </div>
    </div>
</div><!--/row-->

<script src="~/Scripts/App/SewerageViewModel.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        upshot.metadata(@(Html.Metadata<SewerageController>()));

        var viewModel = new Sewerage.SewerageViewModel({
            serviceUrl: "/api/Sewerage/"
        });

        ko.applyBindings(viewModel);
    });
</script>