@*@using Microsoft.Web.Helpers*@
@using Sewerage.Resources.Views.Shared

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title | Sewerage</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="description" content="Sewerage"/>
        <meta name="author" content="Tobias Studer"/>
        @Html.Partial("_SpaLinks")
        @Html.Partial("_SpaScriptsTop")
        @*@Analytics.GetGoogleHtml("UA-31127002-1")*@
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    @Html.ActionLink("Sewerage", "Index", "Home", null, new { @class="brand" })
                    <div class="nav-collapse">
                        @Html.Partial("_LoginPartial")
                        <ul class="nav pull-right">
                            <li><a href="@Url.Action("About", "Home")"> @SharedStrings.About</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            @RenderBody()
      
            <hr/>

            <footer>
                <p>&copy; @DateTime.Now.Year @SharedStrings.By @SharedStrings.University</p>
            </footer>
        </div>
        @Html.Partial("_SpaScriptsBottom")
    </body>
</html>
