<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - University of Applied Sciences Nordwestern Switzerland</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
        @Html.Partial("_SpaScripts")
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        
        <div class="left col">
            <div class="header row">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Sewerage.", "Index", "Home")</p>
                </div>
            </div>     
            <div class="body row">
                @RenderSection("navigation", false)
            </div>   
            <div class="footer row">
                <div class="float-left">
                    <p>
                        &copy; @DateTime.Now.Year - Tobias Studer
                    </p>
                </div>
            </div>
        </div>

        <div class="right col">
            <div class="header row">
                <div class="float-left">
                    @RenderSection("ribbon", false)
                </div>
            </div>     
            <div class="body row">
                @RenderBody()
            </div>   
            <div class="footer row">
                <div class="float-left">
                    <p>
                        University of Applied Sciences Nordwestern Switzerland
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
