<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title | Sewerage</title>
        @Html.Partial("_SpaLinks")
        @Html.Partial("_SpaScriptsTop")
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Sewerage"/>
        <meta name="author" content="Tobias Studer"/>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    @Html.ActionLink("Sewerage", "Index", "Home", null, new { @class="brand" })
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                            <li class="divider-vertical"></li>
                        </ul>
                        @RenderSection("menu", false)
                        @Html.Partial("_LoginPartial")
                        <ul class="nav pull-right">
                            <li class="divider-vertical"></li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            @RenderBody()
      
            <hr/>

            <footer>
                <p>&copy; @DateTime.Now.Year by University of Applied Sciences Nordwestern Switzerland</p>
            </footer>
        </div>
        @Html.Partial("_SpaScriptsBottom")
    </body>
</html>
