<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - University of Applied Sciences Nordwestern Switzerland</title>
        @Html.Partial("_SpaLinks")
        @Html.Partial("_SpaScripts")
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    @Html.ActionLink("Sewerage", "Index", "Home", null, new { @class="brand" })
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                        <div class="pull-right">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          @RenderSection("sidebar", false)
        </div><!--/span-->
          <div class="span9">
            @RenderBody()
          </div><!--/span-->
        </div><!--/row-->
      
          <hr>

          <footer>
            <p>&copy; University of Applied Sciences Nordwestern Switzerland @DateTime.Now.Year</p>
          </footer>
      </div>
    </body>
</html>
