@using Microsoft.Web.Helpers
@using Sewerage.Resources.Views.Shared

@if (Request.IsAuthenticated) {
    <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <li>
            <a href="#">@Gravatar.GetHtml(Membership.GetUser().Email, 20)</a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.Name
            <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li class="nav-header"><i class="icon-user"></i> @SharedStrings.User</li>
                <li><a href="@Url.Action("ChangePassword", "Account")"><i class="icon-pencil"></i> @SharedStrings.ChangePassword</a></li>
                <li><a href="@Url.Action("LogOff", "Account")"><i class="icon-off"></i> @SharedStrings.Logoff</a></li>
                <li class="divider"></li>
                <li class="nav-header"><i class="icon-lock"></i> @SharedStrings.Admin</li>
                <li><a href="@Url.Action("Index", "Elmah")"><i class="icon-list"></i> @SharedStrings.Elmah</a></li>
            </ul>
        </li>
    </ul>
} else {
    <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", data_dialog_title = "Registration" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", data_dialog_title = "Identification" })</li>
    </ul>
}