@using Build.Mvc
@using Build.Mvc.Html
@using Sewerage.HtmlHelpers
@model Sewerage.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<hgroup>
    <h1>@ViewBag.Title.</h1>
    <h2>Use the form below to change your password.</h2>
</hgroup>

<div class="alert alert-info">
    New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
</div>

@using (Html.BuildForm().AddClass("form-horizontal").Begin())
{
    @Html.BuildValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.").AddClass("alert").AddClass("alert-error")

    <fieldset>
        <legend>Change Password Form</legend>
        @Html.BuildControlGroupFor(x => Model.OldPassword)
        @Html.BuildControlGroupFor(x => Model.NewPassword)
        @Html.BuildControlGroupFor(x => Model.ConfirmPassword)
        
        <div class="form-actions">
            @Html.BuildSubmitButtonWithIcon("Change Password", "icon-ok icon-white").AddClass("btn").AddClass("btn-primary")
        </div>
    </fieldset>
}
