@using Build.Mvc
@using Build.Mvc.Html
@using Sewerage.HtmlHelpers
@using Sewerage.Resources.Views
@using Sewerage.Resources.Views.Account
@model Sewerage.Models.LoginModel

@{
    ViewBag.Title = AccountStrings.LoginTitle;
}

<hgroup>
    <h1>@ViewBag.Title.</h1>
    <h2>@AccountStrings.LoginSubtitle</h2>
</hgroup>

@using (Html.BuildForm().AddClass("form-horizontal").Begin())
{
    @Html.BuildValidationSummary(true, @AccountStrings.LoginValidationSummary).AddClass("alert").AddClass("alert-error")

    <fieldset>
        <legend>@AccountStrings.LoginLegend</legend>
        @Html.BuildControlGroupFor(x => Model.UserName)
        @Html.BuildControlGroupFor(x => Model.Password)
        @Html.BuildControlGroupFor(x => Model.RememberMe)
        
        <div class="form-actions">
            @Html.BuildSubmitButtonWithIcon(GlobalStrings.LoginButton, "icon-ok icon-white").AddClass("btn").AddClass("btn-primary")
        </div>
    </fieldset>

    <p>
        @Html.ActionLink(GlobalStrings.RegisterButton, "Register") @AccountStrings.IfNoAccount
    </p>
}
